{% include 'head.html' %}
        <h3 class="center">{{ t[3] }}</h3>
    </header>
    <main class="col-2">
        <section class="right">
            <img src="{{ url_for('static', filename='images/' + v.mynd) }}">
        </section>
        <section>
            <h2><em>{{ v.address }}</em></h2>
            <h5>Verð: <em>{{ v.verd }}</em></h5>
            <h5>Póstnúmer: <em>{{ v.nanar["pnr"] }}</em></h5>
            <h5>Nánar um eignina: <em>{{ v.nanar["lysing"] }}</em></h5>
        </section>  
    </main>
{% include 'foot.html' %}